.new-collection {
    background-image: url('../../images/new-collection.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 70px;
}